:root {
  /* Paleta base */
  --color-primary: #276e90;
  --color-secondary: #cecfc9;
  --color-dark: #0a3143;
  --color-light: #efefef;
  --color-white: #ffffff;

  /* Ús general */
  --background-page: var(--color-light);
  --text-primary: var(--color-dark);

  /* Header */
  --header-background: var(--color-dark);
  --header-text: var(--color-light);
  --header-text-hover: var(--color-white);
  --header-accent: var(--color-primary);

  /* Bordes */
  --border-color: var(--color-secondary);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

body {
   min-height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: var(--background-page);
  color: var(--text-primary);

  font-family: var(--font-figtree), Arial, Helvetica, sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-content {
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}
